@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Azeret Mono", monospace;
}
/* Common Styles */
.common-h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.common-p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 48px;
  text-align: center;
  /* border: 1px solid red; */
}
/* Banner styles start here */
.banner-container {
  width: 1440px;
  height: 652px;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.banner-container img {
  margin-top: 24px;
}
.banner-container h2 {
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  color: rgb(13, 19, 33);
}
.banner-container p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}
.banner-container button {
  width: 250px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
/* Banner styles ends here */
/* why-development section style starts here */
.why-development-container {
  width: 1140px;
  /* height: 1393px;
  border: 1px solid red; */
  margin: 0 auto;
  margin-top: 80px;
  padding: 80px 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

.why-development-section1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  width: 946px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
}
.why-development-section1 {
  width: 488px;
  /* border: 1px solid orange; */
  height: 242px;
}
.why-development-section1 h5 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
}
.why-development-section1 p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  margin: 32px 0px;
}
.why-development-section1 button {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
}
.why-development-container .why-development-img {
  width: 260px;
  /* border: 1px solid red; */
}
.why-development-container .why-development-img img {
  width: 100%;
}
/* why-development section style ends here */

/* Inspiration section styles start here */
.inspiration-section-container {
  width: 1140px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 100px;
}
.inspiration-section-container h3 {
  text-align: center;
}
.inspiration-section-container > p {
  text-align: center;
  margin: 24px 144px 48px 144px;
}
.inspiration-section-container .youtube {
  /* border: 1px solid red; */
  height: 614px;
  padding: 24px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
/* Inspiration section styles ends here */
/* Target section styles start here */
.target-section-container {
  width: 1140px;
  margin: 0 auto;
  height: 460px;
}
.target-section-container > p {
  margin: 24px 144px;
}
.target-section-container .target-language {
  display: flex;
  gap: 24px;
  margin: 24px auto;
}
.div-html {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.div-html h5 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
}
.div-html p {
  margin: 24px 0px;
}
.div-html .learn-more {
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
}
.div-html a {
  color: rgb(13, 19, 33);
}
.div-css {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.div-css h5 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
}
.div-css p {
  margin: 24px 0px;
}
.div-css .learn-more {
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
}
.div-css a {
  color: rgb(13, 19, 33);
}
.div-js {
  width: 364px;
  height: 299px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
  padding: 40px;
}
.div-js h5 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  margin-top: 24px;
}
.div-js p {
  margin: 24px 0px;
}
.div-js .learn-more {
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
}
.div-js a {
  color: rgb(13, 19, 33);
}
/* Target section styles ends here */
/* Support section styles start here */
.support-section-container {
  width: 1140px;
  height: 313px;
  margin: 40px auto;
  padding-top: 40px;
  background-image: url(./assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
}
.support-section-container h3 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
}
.support-section-container p {
  margin: 40px auto;
  color: #fff;
}
.input-btn {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.input-btn input {
  width: 548px;
  height: 57px;
  padding: 24px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.input-btn button {
  width: 140px;
  height: 57px;
  /* padding: 10px; */
  border: none;
  border-radius: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
}
/* Support section styles ends here */
